head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Fabio Pizzolato')
    meta(name='generator' content='Fabio Pizzolato')
    title Sticky Footer Navbar Template &middot; Bootstrap v5.2
    meta(name='theme-color' content='#712cf9')
    link(rel='stylesheet', href='main.css')
