doctype html
  block _head
  body.d-flex.flex-column.h-100
  block _header
  main.flex-shrink-0
    .container
      // Begin page content
      block content
  block _footer
  
  //- script(src='/docs/5.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4' crossorigin='anonymous')
